.fullscreen-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://ui-avatars.com/api/?name=Banner&size=512&background=random');
  background-size: cover;
  background-position: center;
}
