.fullscreen-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-bottom: 24px;
}
.subtext {
  font-size: 1.25rem;
  color: #333;
}
