.fullscreen-section {
  min-height: 100vh;
  position: relative;
}
.top-left, .top-right, .bottom-left, .bottom-right {
  position: absolute;
  padding: 16px;
  background: rgba(0,0,0,0.1);
  font-weight: bold;
}
.top-left {
  top: 0; left: 0;
}
.top-right {
  top: 0; right: 0;
}
.bottom-left {
  bottom: 0; left: 0;
}
.bottom-right {
  bottom: 0; right: 0;
}
