.media {
  display: flex;
  /* Add your code here */
}

.media img {
  width: 120px;
  height: 140px;
  /* Add your code here */
}

@media (max-width: 480px) {
  .media {
    /* Add your code here */
  }
}
